
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(black, blue) no-repeat;
  color: white;
  font-family: initial;
  text-align: center;
}

/*.imge {
  position: absolute;
  width: 1900px;
  height: 100px;
  margin-top: -150px;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}*/

.company-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-top: 15px;
  letter-spacing: 40px;
  transform: scaleY(4);
}

.top-menu {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-top: 65px;
  box-sizing: border-box;
  margin-right: 275px;
}

.menu{
  margin-left: 230px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #003AFA;
}

p {
  color: gray;
}

footer {
  padding-top: 765px;
}

.foter {
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.exchange-form {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-right: 40px;
}

.currency-block {
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
}

.currency-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-option {
  margin: 0px 0;
  padding: 10px 25px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  font-size: 16px;
}

.currency-option.selected {
  background-color: #032BE5;
  border-color: #fdfdfd;
}

.currency-option.disabled {
  background-color: #555;
  color: #999;
  cursor: not-allowed;
}

button {
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 40px;
  margin-top: 5px;
}

button:hover {
  background-color: #000000;
  border-color: #ffffff;
}

button:disabled {
    background-color: #555;
    border-color: #555;
    cursor: not-allowed;
}

button:hover:enabled {
  background-color: #000000;
  border-color: #ffffff;
}

.str {
  margin-top: 130px;
  color: white;
  font-size: 20px;
}