
body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(black, blue) no-repeat;
  color: white;
  font-family: initial;
}

/*.imge {
  position: absolute;
  width: 1900px;
  height: 100px;
  margin-top: -150px;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}*/

.company-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-top: 15px;
  letter-spacing: 40px;
  transform: scaleY(4);
}

.top-menu {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-top: 65px;
  box-sizing: border-box;
}

.menu{
  margin-left: 170px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #003AFA;
}

p {
  color: gray;
}

footer {
  padding-top: 765px;
}

.foter {
  color: white;
}